<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <!--Production-->
    <add key="SAP.AppServerHost" value="10.0.227.14" />
    <!--Test-->
    <!--<add key="SAP.AppServerHost" value="10.0.226.238" />-->
    <!--Develoment-->
    <!--<add key="SAP.AppServerHost" value="10.0.227.249"/>-->
    <add key="SAP.SystemNumber" value="00" />
    <!--Production-->
    <add key="SAP.User" value="ESTAFF_RFC" />
    <!--Test & Quality-->
    <!--<add key="SAP.User" value="33126" />-->
    <!--Production-->
    <add key="SAP.Password" value="123456" />
    <!--Test & Quality-->
    <!--<add key="SAP.Password" value="Sap@123" />-->
    <add key="SAP.Client" value="910" />
    <!--<add key="SAP.Client" value="510"/>-->
    <add key="SAP.Language" value="EN" />
    <add key="SAP.PoolSize" value="5" />
    <add key="SAP.Name" value="SAPConnection" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>