<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Security settings to remove the Server header -->
    <security>
      <requestFiltering removeServerHeader="true" />
    </security>

    <!-- Handlers and ASP.NET Core settings -->
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>
    <aspNetCore processPath="dotnet" arguments=".\FSC.API.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />

    <!-- Custom Headers -->
    <httpProtocol>
      <customHeaders>
        <!-- Remove X-Powered-By header -->
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>

    <!-- URL Rewrite to remove the Server header -->
    <rewrite>
      <outboundRules>
        <rule name="Remove Server Header">
          <match serverVariable="RESPONSE_Server" pattern=".*" />
          <action type="Rewrite" value="" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>