<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="SAP.AppServerHost" value="10.0.226.238" />
    <!--<add key="SAP.AppServerHost" value="10.0.227.249"/>-->
    <add key="SAP.SystemNumber" value="00" />
    <add key="SAP.User" value="33126" />
    <add key="SAP.Password" value="Sap@123" />
    <add key="SAP.Client" value="910" />
    <!--<add key="SAP.Client" value="510"/>-->
    <add key="SAP.Language" value="EN" />
    <add key="SAP.PoolSize" value="5" />
    <add key="SAP.Name" value="SAPConnection" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>